
<p><%= "Hi #{@user.name}! Thanks for booking #{@order.room.title}" %></p>

<%= @order.room.title %>
<%= @order.room.address %>
<%= @order.room.description %>

<%= @order.inspect %>
<%= @user.inspect %>