<!DOCTYPE html>
<html>
<head>
  <title>Onboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		
		<div>
			<%= link_to "Onboard", root_path%>
		</div>

		

		<% if logged_in? %>

			<!-- Show user name -->
			<span><%= current_user.username %></span>
			<!-- links for users -->
			<!-- Update to new room path to carry through user id -->
			<%= link_to "Add a room", new_user_room_path(current_user.id) %>
			<%= link_to "Log out", session_path, method: :delete %>

		<% else %>

			<!-- links for non user -->
			<%= link_to "Sign up", new_user_path %>
			<%= link_to "Log in", new_session_path %>

		<% end %>
	</nav>
</header>


<% flash.each do |key,value| %>
	<div class="<%= key %>">
		<p><%= value %></p>
	</div>
<% end %>

<%= yield %>

</body>
</html>
