<!DOCTYPE html>
<html>
<head>
  <title>Onboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<%= link_to "Onboard", root_path%>
		<!-- links for non user -->
		<%= link_to "Sign up", new_user_path %>
		<%# link_to "Log in", new_session_path %>

		<!-- links for users -->
		<%= link_to "Add a room", new_room_path %>
		<%# link_to "Log out", session_path, method: :delete %>
	</nav>
</header>


<% flash.each do |key,value| %>
	<div class="<%= key %>">
		<p><%= value %></p>
	</div>
<% end %>

<%= yield %>

</body>
</html>
